@use './variables' as *;

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
  margin-top: 3rem;

  .container {
    text-align: center;
  }

  a {
    color: var(--global-link-color);

    &:hover {
      text-decoration: underline;
    }
  }
}
