@use "sass:color";

// Color Palette
$purple-color: #b509ac;
$cyan-color: #2698ba;
$grey-color: #828282;
$grey-color-dark: #1c1c1d;
$white-color: #ffffff;
$black-color: #000000;

// Background Colors
$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237;

// Layout
$max-content-width: 930px;
$navbar-height: 57px;
$footer-height: 70px;

// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
