---
const year = new Date().getFullYear();
---

<footer class="sticky-bottom mt-5">
  <div class="container">
    &copy; Copyright {year} Sun Jiali.
    Powered by <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a> with
    <a href="https://github.com/alshedivat/al-folio" target="_blank" rel="noopener noreferrer">al-folio</a> theme.
    Hosted by <a href="https://pages.github.com/" target="_blank" rel="noopener noreferrer">GitHub Pages</a>.
  </div>
</footer>
